@font-face {
    font-family: 'Archangelsk';
    src: url('Archangelsk.woff2') format('woff2'),
        url('Archangelsk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

